* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

button{
    width: 105px;
    height: 25px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
  }

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-evenly;
}
.top nav img{
    width: 0 auto;
    height: 0 auto;
    margin-top:30px;
}
.top nav a {
    color: black;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 35px;
    text-decoration: none;
}

.jumbo-about{
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-content{
    display: inline-block;
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
  
}

.content1{
    padding: 20px 2%;
    display: flex;
    
}

.strategy{
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}
 .how{
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
    margin-left: 60px;
 }
.content1 img{
    width: 100%;
}

.content2{
    display: flex;
  
    padding: 20px 2%;
}
.places{
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
}

.collobration{
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
    margin-left: 60px;
}
.content2 img{
    width: 90%
}

.content3{
    display: inline-block;
    padding: 20px 2%;
}



footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color:white;
    text-decoration: none;
}

